<div class="container">


    <!-- <img src="assets/img/last.jpg"> -->
    <div class="formbody">
<form  class="form" [formGroup]="form" (ngSubmit)="submitform()">
  <p class="title">Login</p>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="email" class="form-control" id="exampleInputEmail1" formControlName="username" aria-describedby="emailHelp">

    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" formControlName="cheackBox" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Is Doctor Or Owner</label>
    </div>
    <button type="submit" class="btnlogin">Login</button>
  </form>
  </div>
  </div>
