<div class="container">
    <div class="row">
        <div class="col">
            <form class="form">
              <p class="title">Medical Details</p>
                <table  id="medicalData" class="table">
                    <thead>
                      <tr >
                        <th scope="col">ID</th>
                        <th scope="col">Med code</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Diseases</th>
                        <th scope="col">Description</th>
                      </tr>
                    </thead>
                    <tbody class="tboday">
                      <tr *ngFor="let med of mediDetails">
                          <td>med.med_id</td>
                          <td>med.med_code</td>
                          <td>med.diseases</td>
                          <td>med.description</td>
                          <td>med.comment</td>
                      </tr>


                    </tbody>
                  </table>

            </form>
        </div>
    </div>
</div>

