<div class="container">
    <div class="row align-items: center -h 100" >

      <p class="title">Pet Information</p>
<!--        <div class="col-sm">-->
<!--            <div class="card" >-->
<!--                <img src="../../assets/img/icons8-update-100.png"  class="card-img-top" alt="icons8-vaccine-60.png">-->
<!--                <div class="card-body">-->
<!--                  <h5 class="card-title">Update owner</h5>-->
<!--                  <a href="#" class="button">Go..</a>-->
<!--                </div>-->
<!--              </div>-->
<!--        </div>-->
        <div class="col-sm" style="padding-left: 133px">
            <div class="card" >
                <img src="../../assets/img/icons8-medical-history-64.png" style="width:83px;" class="card-img-top mx-auto d-block" alt="petiocn">
                <div class="card-body">
                  <h5 class="card-title">Medical History</h5>
                  <a href="/medical_histry" class="button">Go..</a>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card" >
                <img src="../../assets/img/petvaccine.png" style="width:83px;" class="card-img-top mx-auto d-block" alt="petvaccine">
                <div class="card-body">
                  <h5 class="card-title">Vaccination History</h5>
                   <a href="/vaccineHistory" class="button">Go.. </a>
                </div>
              </div>
        </div>
      </div>
<!--      <div class="row">-->
<!--        <div class="col-sm">-->
<!--            <div class="card" >-->
<!--                <img src="../../assets/img/icons8-vaccine-60.png" class="card-img-top" alt="icons8-vaccine-60.png">-->
<!--                <div class="card-body">-->
<!--                  <h5 class="card-title">Card title</h5>-->
<!--                 <a href="#" class="button">Go </a>-->
<!--                </div>-->
<!--              </div>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--            <div class="card">-->
<!--                <img src="../../assets/img/icons8-vaccine-60.png" class="card-img-top" alt="icons8-vaccine-60.png">-->
<!--                <div class="card-body">-->
<!--                  <h5 class="card-title">Card title</h5>-->
<!--                  <a href="#" class="button">Go </a>-->
<!--                </div>-->
<!--              </div>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--            <div class="card">-->
<!--                <img src="../../assets/img/icons8-vaccine-60.png" class="card-img-top" alt="icons8-vaccine-60.png">-->
<!--                <div class="card-body">-->
<!--                  <h5 class="card-title">Card title</h5>-->
<!--                <a href="#" class="button">Go </a>-->
<!--                </div>-->
<!--              </div>-->
<!--        </div>-->
<!--      </div>-->

</div>
