<div class="container">
  <div class="row">
    <div class="col">
      <form class="form"> 
        <div class="mb-3">
          <label class="tile" for="test">Select Vaccine</label>

          <input list="vaccine" name="typeOfvaccine" placeholder="Vaccine Name">
          <datalist id="vaccine" >
            <option value="Rabies">
              <option value="Camine parvovirus">
              <option value="Canime distemp2r">
              <option value="Canime distemper-1">
              <option value="Para influenza virus">
              <option value="Laptospirosls">
              <option value="Bordetella">
              <option value="Lyme disease"> 
          </datalist>
        </div>
        <div class="mb-3">
       
          <label class="tile" for="start">Start date</label>

      <input type="date" id="start" name="trip-start"
       value="2022-03-02"
       min="2022-03-02" max="2022-03-31">
        </div>
      
        


      </form>
     

 </div>
 </div>
 


  

